.slider-title {
  font-family: 'Racing Sans One', cursive;
  font-size: 150px;
  color: #25C998;/* #4DD625;*/
}

.slider-subtitle {
  color: #25C998;
}

.blue-title {
  color: #09519e;
}

.white-title, .white-icon {
  color: #fff;
}

.white-title,
.blue-title {
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 470px) {
  .white-title,
  .blue-title {
    font-size: 50px;
  }
}

.blue-title-line {
  background-color: #09519e;
}

.white-title-line {
  background-color: #fff;
}

.blue-title-line,
.white-title-line {
  display: inline-block;
  height: 3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 60px;
}

div.mb-sm-5.text-center {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}
  
.even-area {
  background-color: rgba(145, 206, 242, .8);
}

footer {
  color: #fff;
  padding: 40px 0 30px;
}

footer a {
  color: #fff;
}

p > a.white-icon:hover {
  color: #fff;
}

.back-to-top {
  background: #00c1c1;
  color: #fff;
}


.back-to-top:focus {
  background: #00c1c1;
  color: #fff;
}

.back-to-top:hover {
  background: #019090;
  color: #fff;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index:1000;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  outline: none;
}

div.img-thumbnail > a {
  color: white;
}

/*Navbar styles*/

nav li > a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-color .navbar-nav .nav-link {
  color: rgba(255,255,255,.7)
}

div.collapse.navbar-collapse {
  justify-content: flex-end;
}

.text-birepublik {
  color: white; 
  font-weight: 700;
}

.navbar-color {
  /*background-color: #09519e;*/
  background-color: #000;
}

.nav-item .nav-link {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav.navbar.navbar-expand-xl .nav-link:hover {
  color: white;
}

@media (max-width: 450px){
  .text-birepublik {
    display: none;
  }
}

.navbar-fixed {
  position: fixed;
  z-index: 900;
  width: 100%;
}

/* Intro area styles */

#intro {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  z-index: 2;
  background-size: cover;
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

div.img-thumbnail > img {
  max-width: inherit;
}

/* Efecto hover en imágenes de sección portafolio */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-3::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  /*border: 1px solid #fff;*/
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

@media (max-width: 330px) {
  .hover-3-description {
    font-size: 0.6rem;
  }
}

.hover-3 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.video-wrapper {
  position: relative;
  height: 400px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}